.navbar {
   
    border-radius: 10px;
    list-style-type: none;
    overflow: hidden;
    background-color: skyblue;

      }
li { 
    float: left;
  }
li a {
    font-weight: bold;
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .background{
    color: black;
    border-radius: 10px;
    padding: 20px;
    background-image: url("https://img.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg?w=2000");
    background-size: cover;
    height: 100vh;
  
  }